/* =========================
   GLOBAL THEME VARIABLES
   ========================= */
:root {
  --bg-main: #111;
  --bg-card: #222;
  --bg-footer: #000;

  --text-main: #eee;
  --text-muted: #bbb;

  --primary: #40E0D0;
  --shadow-primary: rgba(0, 255, 0, 0.3);

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;

  --text-5xl--line-height: 1;

   --ui-scale: 1;
}

@media (max-width: 640px) {
  :root {
    --ui-scale: 0.8;
  }
}

@media (max-width: 1280px) {
  :root {
    --ui-scale: 0.8;
  }
}

/* =========================
   RESET & BASE
   ========================= */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg-main);
  color: var(--text-main);
}

/* =========================
   HEADER / HERO
   ========================= */
header {
  height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url('https://t4.ftcdn.net/jpg/02/87/44/97/360_F_287449734_cX34x7tR7WKVnF3mBbvKd2QHEOTGRg0u.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* =========================
   TYPOGRAPHY
   ========================= */
.heading-primary {
  font-size: 4em; /* 3rem (48px) */ 
  line-height: var(--text-5xl--line-height); /* 1 */
  font-weight: 700;
  margin: 0;
  color: var(--primary);
  text-shadow: 0 0 15px var(--primary);
}
.heading-secondary {
  font-size: var(--text-2xl); 
  font-weight: 700;
  color: var(--primary);
  text-align: center;
}

/* =========================
   BUTTON
   ========================= */
.btn-primary {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  border-radius: 9999px;
  background: var(--primary);
  color: #000;
  font-weight: 600;
  font-size: 1.125rem;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  box-shadow: 0 0 30px var(--primary);
  transform: translateY(-4px);
}

.back-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: #a1a1aa; /* zinc-400 */
  transition: color 0.2s ease;
}

.back-link:hover {
  color: var(--primary);
}


/* =========================
   CARD COMPONENT
   ========================= */

.card {
  background: #18181b; /* zinc-900 */
  border-radius: 1rem;
  padding: calc(1rem * var(--ui-scale));
  box-shadow: 0 5px 10px var(--primary);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px var(--primary);
}

.card-img {
  width: 100%;
  aspect-ratio: 4 / 3 ;   /* atau 16 / 9 */
  object-fit: cover;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}


.card-title {
  font-weight: 600;
  font-size: 1.125rem;
  color: #40E0D0; /* green-300 */
}

.card-text {
  font-size: 0.875rem;
  color: #a1a1aa; /* zinc-400 */
}


/* =========================
   FOOTER & LIST
   ========================= */
footer {
  background: var(--bg-footer);
  padding: 30px;
  text-align: center;
}

ul {
  line-height: 2em;
}
